/* Importa o arquivo CSS que importa a fonte Ravie */
@import "fonts/ravie.css";
main{
    background: linear-gradient(#f6f1b2, #4599b2);
    width: 800px;
    margin: 0 auto;
    position: relative;
    font-family: Verdana;
}
h1 {
  font-family: Ravie;
  color: #e90c0c;
  font-size: 36px;
    margin: 5px;
    font-weight: normal;
}
header {
    text-align: right;
    margin-left: 154px;
    position:relative;
    display: block;
    padding-right: 50px;
    padding-top: 20px;
}

header h2{
    font-family:"Trebuchet MS";
    font-size: 24px;
    color: #333;    
    font-weight: normal;
    margin: 5px;
}

#acai {
    color: #d027aa;
}


#cardapio {
    position: relative;
  border: 1px;
  border-color: #aac0ae;
  border-style: solid;
  background-color: rgba(255,255,255 , 0.2);
  width: 646px;
  box-sizing: border-box;
  margin-left: 154px;
    padding-left: 15px;
}

h3 {
    font-size: 18px;
}

ul{
    list-style-type: none;
    padding: 0;
    font-size:14px;
}
li {
    padding: 5px 0;
}


.preco {
    float: right;
    padding-right: 10px;
}

#ticket {
  position: fixed;
  top: 295px;
  left: -69px;
}

#ticket:hover {
  left:0;
}

img[src*="siri"]{
    position: absolute;
    top: 17px;
    left: -10px;
}

aside h2{
    transform: rotate(-90deg);
    font-size: 48px;
    position: absolute;
    top: 250px;
}


img[src*="bolhas"]{
    position: absolute;
    bottom: 125px;
    left: 42px;
    right: 20px;
}

img[src*="peixe"]{
    text-align: left;
    position: absolute;
    left: -44px;
    bottom: 0;
}


footer {
    padding: 46px 15px 25px;
    text-align: right;
    position:relative;
}
